.slideout-panel {
  /* background-image: url("https://i.imgur.com/og3l53C.jpeg"); */
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.carousel-articles {
  display: none !important;
}
.col-lg-4 {
  display: none !important;
}
.box {
  border-radius: 20px !important;
  /* background-color: #171717cc !important;
  backdrop-filter: blur(10px) !important; */
}

.cover {
  border-radius: 20px !important;
  background-color: transparent !important;
}
.box-grid-section {
  border-radius: 20px !important;
  margin-bottom: 1em !important;
  /* background-color: #171717cc !important;
  backdrop-filter: blur(10px) !important; */
}
.film-cover {
  border-radius: 20px !important;
  background-color: transparent !important;
}

.img-responsive {
  border-radius: 20px !important;
  background-color: transparent !important;
}
.image {
  border-radius: 20px !important;
  background-color: transparent !important;
}

.navbar {
  border-radius: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  position: absolute !important;
  margin-top: 1em !important;
  background-color: #00578d !important;
  width: 1104px !important;
  margin-left: 1em !important;
}
.col-lg-8 {
  width: 1126px !important;
}
.primary {
  /* background-color: #171717cc !important;
  backdrop-filter: blur(10px) !important; */
  border-radius: 20px !important;
}
/* #dramalist .table thead th,
.style-default .table thead th {
  background-color: #171717cc !important;
  backdrop-filter: blur(10px) !important;
} */
.input-group {
  margin-left: 2em !important;
}

.nav-notifications {
  display: none !important;
}

.header-user {
  display: block !important;
  margin-left: -1em !important;
  margin-right: 3em !important;
}

#mdl-lang {
  display: none !important;
}

.m-t {
  margin-top: 16px !important;
}
